<!doctype html>
<html lang="en">
<head>
    <title>Tv demo</title>
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>    
    <video id="videoPlayer" class="player" width="100%" height="100%">
        <source id="videoSource" src="static/big_buck_bunny_640x360_2.28.mp4" type="video/mp4"/>
    </video>

    <script type="text/javascript">
        var videoSourceList = [
            "static/big_buck_bunny_640x360_2.28.mp4", 
            "static/sintel_640x360_2.28.mp4",
            "static/elephants_dream_640x360_2.30.mp4"
        ];

        var currentVideo = 0;
        var videoPlayer = document.getElementById('videoPlayer');
        var videoSource = document.getElementById('videoSource');
        videoPlayer.play();

        videoPlayer.onended = function(){
            if (currentVideo == videoSourceList.length-1){
                currentVideo = 0;
            } else {
                currentVideo += 1;
            }
            videoSource.src = videoSourceList[currentVideo];
            videoPlayer.load();
            videoPlayer.play();
        }
    </script>
</body>
</html>