<!doctype html>
<html lang="en">
<head>
    <title>Hydra</title>
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-1.6.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    <script src="{{ url_for('static', filename='js/hydra.js') }}"></script>
</head>
<body>    
    <video id="videoPlayer" class="player" width="100%" height="100%" controls>
        <source id="videoSource" src="{{ url_for('media', filename='elephants_dream_640x360_2.30.webm') }}" type="video/webm"/>
    </video>
    <script type="text/javascript">
        main('{{ setup.server }}');
    </script>
</body>
</html>